APP_NAME=AP Tourism Backend
DEBUG=True
SECRET_KEY=your-super-secret-key-here

DATABASE_URL=postgresql://postgres:1227@localhost/ap_tourism


JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# ── Redis ─────────────────────────────────────────────────────
REDIS_URL=redis://localhost:6379/0
OTP_EXPIRE_SECONDS=300
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5


AWS_ACCESS_KEY_ID=AKIAYF4LJOG6YYE4DMUR
AWS_SECRET_ACCESS_KEY=ZXuSPpfktZG4Bch96fp+544Ov4UGblRpV+xh1F5
AWS_REGION=ap-south-1
S3_BUCKET_NAME=ap-tourism-media

# Ola Maps — sign up at https://maps.olakrutrim.com/
OLA_MAPS_API_KEY=rEBeHGiSnUcdCoV0ptK1llRJnXhaFAy9poqsytwU

SENDGRID_API_KEY=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
FROM_EMAIL=subbareddysv1228@gmail.com

# ── Firebase ──────────────────────────────────────────────────
FIREBASE_PROJECT_ID=ap-tourism-56c98
FIREBASE_SERVICE_ACCOUNT=firebase-service-account.json


